@page
@model DogTrials.Pages.People.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person.FirstName" class="control-label"></label>
                <input asp-for="Person.FirstName" class="form-control" />
                <span asp-validation-for="Person.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.LastName" class="control-label"></label>
                <input asp-for="Person.LastName" class="form-control" />
                <span asp-validation-for="Person.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Street" class="control-label"></label>
                <input asp-for="Person.Street" class="form-control" />
                <span asp-validation-for="Person.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.City" class="control-label"></label>
                <input asp-for="Person.City" class="form-control" />
                <span asp-validation-for="Person.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.State" class="control-label"></label>
                <input asp-for="Person.State" class="form-control" />
                <span asp-validation-for="Person.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Zip" class="control-label"></label>
                <input asp-for="Person.Zip" class="form-control" />
                <span asp-validation-for="Person.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Country" class="control-label"></label>
                <select asp-for="Person.Country" asp-items="Html.GetEnumSelectList<Models.Country>()" class="form-control"></select>
                <span asp-validation-for="Person.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
