@page
@model DogTrials.Pages.Trials.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Trial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Trial.ClubID" class="control-label"></label>
                <select asp-for="Trial.ClubID" class ="form-control" asp-items="ViewBag.ClubID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Trial.Name" class="control-label"></label>
                <input asp-for="Trial.Name" class="form-control" />
                <span asp-validation-for="Trial.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trial.StartDate" class="control-label"></label>
                <input asp-for="Trial.StartDate" class="form-control" />
                <span asp-validation-for="Trial.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trial.EndDate" class="control-label"></label>
                <input asp-for="Trial.EndDate" class="form-control" />
                <span asp-validation-for="Trial.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trial.Location" class="control-label"></label>
                <input asp-for="Trial.Location" class="form-control" />
                <span asp-validation-for="Trial.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Trial.IsActive" /> @Html.DisplayNameFor(model => model.IsActive))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
